# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environments
# ==========================
.venv/
venv/
backend/.venv/

# ==========================
# Environment Variables
# ==========================
.env
backend/.env

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Uploaded Files
# ==========================
backend/uploads/

# ==========================
# Python Test Cache
# ==========================
.pytest_cache/

# ==========================
# MyPy
# ==========================
.mypy_cache/

# ==========================
# Ruff
# ==========================
.ruff_cache/

# ==========================
# macOS
# ==========================
.DS_Store